/* ==========================================================================
   Common
   ========================================================================== */
.align-center{ text-align:center; }
.align-left{ text-align:left; }
.align-right{ text-align:right; }
.left{float:left;}
.right{float:right;}
.relative{position:relative;}
.hidden{display:none;}

::-moz-selection{ color: #fff; background:#00abd6; }
::selection{ color: #fff;	background:#00abd6; }
::-webkit-selection{ color: #fff;	background:#00abd6; }

.animate, .animate *{
	-webkit-transition: all 0.37s cubic-bezier(0.45, 0, 0.58, 1);
    -moz-transition: all 0.37s cubic-bezier(0.45, 0, 0.58, 1);
    -o-transition: all 0.37s cubic-bezier(0.45, 0, 0.58, 1);
    -ms-transition: all 0.37s cubic-bezier(0.45, 0, 0.58, 1);
    transition: all 0.37s cubic-bezier(0.45, 0, 0.58, 1);
}
.no-animate, .no-animate *{
	-webkit-transition: 0 none !important;
    -moz-transition: 0 none !important;
	 -ms-transition: 0 none !important;
    -o-transition: 0 none !important;
    transition:0 none !important;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
html .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}

.inline-block{
	display: -moz-inline-box;
  	display: inline-block;
  	word-spacing: normal;
  	vertical-align: middle;
}

html{
	overflow-y: scroll;
}
html, body{
	height: 100%;
}
a, b, div, ul, li{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}
.img{
	width: 100%;
	height: auto;
	background: url(../images/loader.gif) no-repeat 50% 50%;
}
embed, object, video {
    max-width: 100%;
    height: auto;
}

/* ==========================================================================
   Grid
   ========================================================================== */

.row{
	display: block;
	overflow: hidden;
	margin-bottom: 30px;
}
.col{
	display: block;
	overflow: hidden;
	margin: 0 0 0 2%;
	float: left;
}
.col:first-child{
	margin-left: 0;
}
.col.one{
	width: 15%;
}
.col.one-half{
	width: 23.5%;
}
.col.two{
	width: 32%;
}
.col.three{
	width: 49%;
}
.col.four{
	width: 66%;
}
.col.five{
	width: 83%;
}
.col.six{
	width: 100%;
}



/* ==========================================================================
   Typography
   ========================================================================== */

body{
	color: #151515;
	font-size: 14px;
	font-family: 'Raleway', Arial, sans-serif;
	line-height: 1.8;
	-webkit-font-smoothing: antialiased;

}
a, a:visited{
	color: #151515;
}
a:hover{
	color: #00abd6;
}
b, strong{
	font-weight: 600;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Crimson Text', Georgia, serif;
	font-weight: 400;
	line-height: 1.2;
}
h2,h3,h4,h5,h6{ font-style: italic; }

h1{ font-size: 42px; }
h2{ font-size: 36px; }
h3{ font-size: 30px; }
h4{ font-size: 24px; }
h5{ font-size: 18px; }
h5{ font-size: 12px; font-weight: 700; }

ul, ol{
	padding-left: 1.2em;
}
.button,
.button:visited{
	display: inline-block;
	background: #151515;
	padding: 0.4em 2em;
	color: #ffffff;
	font-size: 13px;
	font-weight: 400;
	text-decoration: none;
}
.button:hover{
	background: #444;
}
.button:active{
	position: relative;
	top: 1px;
	left: 1px;
}


/*
 * Tables
 */

td{
	border: 1px solid #ebebeb;
	padding: 5px;
}

hr{
	width: 40px;
	height: 1px;
	background: #999;
	outline: none;
	border: none;
	margin: 5% 0;
}

/* ==========================================================================
   Home page layout
   ========================================================================== */

.home-page{
	/*display: none !important;*/
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: #fff;
	z-index: 99 !important;
}
.h-line{
	display: block;
	width: 100%;
	height: 1px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #eaeaea;
	background: rgba(0,0,0,.09);
	z-index: 100;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
	.logo{ background-image: url(../images/logo%402x.png); background-size: cover; }
}
.half-screen{
	display: block;
	width: 50%;
	height: 100%;
	position: absolute;
	/*z-index: 1;*/
}
.light-screen{
	display: table;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #fff;
	/*outline: 1px solid #fff;	*/

}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
}
.hs-content{
	display: table-cell;
	/*display: none;*/
	vertical-align: middle;
	text-align: center;
}
.author{
	width: 100%;
	position: absolute;
	left: 0;
	top: 5%;
	font-weight: 600;
	font-size: 12px;
	text-align: center;
	letter-spacing: 1px;
}
.tagline{
	width: 100%;
	position: absolute;
	left: 0;
	top: 18%;
}
.tagline h1{
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 60px;
	line-height: 1;
	font-weight: 400;
}
.dark-screen{
	right: 0;
	top: 0;
	height: 100%;
	background-color: #151515;
}


.dark-image{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
}
.dark-image img{
	width: auto;
	min-width: auto;
	height: 100%;
	min-height: 500px;
	position: absolute;
	left: 0;
	bottom: 0;
}
.dark-overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #151515;
	background-color: rgba(21,21,21, .97);
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {

}
.intro-message{
	width: 100%;
	position:absolute;
	left: 0;
	top: 18%;
	color: #ccc;
	font-size: 14px;
}
.im-text-wrap{
	width: 51%;
	margin: 16px auto 0;
	text-align: center;
}
.go-projects{
	width: 100%;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -20px;
	text-align: center;
}
.button-white{
	display: inline-block;
	width: auto;
	height: 40px;
	line-height: 40px;
	padding: 0 30px;
	font-weight: 600;
	font-size: 12px;
	color: #151515;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	background-color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.button-white:hover{
	color: #777;
	background-color: #eaeaea;

}

.button-black{
	display: inline-block;
	width: auto;
	height: 40px;
	line-height: 40px;
	padding: 0 30px;
	font-weight: 600;
	font-size: 12px;
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	background-color: #151515;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.button-black:hover{
	color: #777;
	background-color: #1F1F1F;

}

.no-js .author,
.no-js .tagline,
.no-js .main-menu,
.no-js .social-links,
.no-js .intro-message,
.no-js .go-projects{
	visibility: visible;
}

/* ==========================================================================
   Main menu
   ========================================================================== */

.main-menu,
.side-menu{
	position: relative;
	font-weight: 600;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: #fff;
}
.main-menu ul,
.side-menu ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.main-menu ul li,
.side-menu ul li{
	border-bottom: 1px solid #f0f0f0;
}
.main-menu ul li:first-child,
.side-menu ul li:first-child{
	border-top: 1px solid #f0f0f0;
}
.main-menu ul li a,
.side-menu ul li a{
	display: block;
	height: 50px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	color: #151515;
	background-color: #ffffff;
	-webkit-transition: all 0.5s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.5s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.5s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.5s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.5s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.main-menu ul li a:hover,
.side-menu ul li a:hover{
	background-color: #fafafa;
	color: #777;
}
.main-menu ul li a:focus,
.side-menu ul li a:focus{
	outline: none;
}
.main-menu ul li a:active,
.side-menu ul li a:active{
	background-color: #fafafa;
	color: #777;
}

/* Add sidebar menu styles */

.side-menu{
	display: table-cell;
	vertical-align: middle;
}
.side-menu ul li a.active{
	position: relative;
	color: #777;
	cursor: default;
}
.side-menu ul li a.active:hover{
	background: #fff;
}
.side-menu ul li a.active:after{
	display: block;
	content: " ";
	width: 1px;
	height: 100%;
	position: absolute;
	right: -1px;
	top: 0;
	background-color:#fff;

}

/* ==========================================================================
   Social links
   ========================================================================== */

.social-links,
.c-social-links{
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 5%;
	font-weight: 600;
	font-size: 12px;
}
.social-links ul,
.c-social-links ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.social-links ul li,
.c-social-links ul li{
	display: inline-block;
	margin: 0 .75em;
}
.social-links ul li a,
.c-social-links ul li a{
	display: block;
	text-align: center;
	text-decoration: none;
	color: #999;
	border-bottom: 1px solid transparent;
}
.social-links ul li a:hover,
.c-social-links ul li a:hover{
	color: #151515;
	border-bottom: 1px solid #f0f0f0;
}
.c-social-links{
	display: block;
	position: relative !important;
}
.c-social-links ul{
	display: inline-block;
}
.c-social-links ul li:first-child{
	margin-left: 0;
}

/* ==========================================================================
   Inside pages
   ========================================================================== */

.inside-pages{
	position: relative;
	top: 100%;
	z-index: 0 !important;
}
.sidebar{
	width: 17%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 0;
	display: table;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-right: 1px solid #eaeaea;
	background-color: #fff;
}

.page-sections{
	margin-left: 17%;
	overflow: hidden;
	min-height: 500px;
}
.pg-item{
	margin: 8% 5.5%;
	padding: 3% 0;
	max-width: 2000px;
}
.pg-item:first-child{
	margin-top: 4.5%;
}

/* ==========================================================================
   Works
   ========================================================================== */

.project-list{
	overflow: hidden;
}
.project-item{
	/*width: 50%;*/
	/*float: left;*/
	margin-top: 4%;
}
.project-item:first-child{
	margin-top: 0;
}
.project-item-link{
	display: block;
	position: relative;
	overflow: hidden;
	text-decoration: none;
	cursor: pointer;
	border: 1px solid #fff;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.project-item-link:hover{
	border: 1px solid #eaeaea;
}
.project-item-left{
	display: block;
	width: 50%;
	float: left;
	position: relative;
	overflow: hidden;
}
.project-item-right{
	display: block;
	width: 40%;
	margin-left: 5%;
	float: left;
	font-size: 14px;
	color: #151515;
}
.project-item-link:hover .project-item-right{
	color: #151515;
}
.wi-title{
	padding-top: 4%;
	display: block;
	margin-bottom: 3%;
	font-weight: 600;
}
.wi-text{
	display: block;
	font-size: 13px;
}
.project-item-img{
	display: block;
	width: 100%;
	/*
	-webkit-transition: all 4s ease-in;
	-moz-transition: all 4s ease-in;
	-o-transition: all 4s ease-in;
	-ms-transition: all 4s ease-in;
	transition: all 4s ease-in;
	*/
}
.project-item-title{
	position: absolute;
	display: block;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: right;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 3% 4.3%;
	color: #999;
	font-size: 16px;
	background: rgba(220,220,220, .2);
}
.project-item-title b{
	display: block;
	width: 140px;
	height: 30px;
	position: absolute;
	left: 50%;
	bottom: -40px;
	margin: 0 0 -15px -70px;
	background: #fff;
	color: #151515;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.project-item-link:hover .project-item-title{
	background-color: #151515;
	background-color: rgba(0,0,0, .5);
}
.project-item-link:hover .project-item-title b{
	bottom: 50%;
}
.project-item-link:hover .project-item-img{
	/*
	-webkit-transform: scale(1.08);
	-moz-transform: scale(1.08);
	-o-transform: scale(1.08);
	-ms-transform: scale(1.08);
	transform: scale(1.08);
	*/
}

/*
 * Work full page
 */
.project-full{
	display: none;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 99;
}
.project-loader{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 9;
}
.project-loader:after{
	display: block;
	content: " ";
	width: 16px;
	height: 16px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -8px 0 0 -8px;
	background: url(../images/loader.gif) no-repeat;
}

/*
 * Work navigation
 */

.project-navigation{
	display: table;
	width: 100%;
	height: 50px;
	position: relative;
	top: -60px;
	background: #fff;
	border-bottom: 1px solid #e9e9e9;
	z-index: 10;
}
.project-navigation a{
	display: table-cell;
	width: 3.33333%;
	height: 100%;
	overflow: hidden;
	vertical-align: middle;
	text-decoration: none;
	font-size: 13px;
	white-space: nowrap;
	cursor: pointer;
}
.project-navigation a,
.project-navigation a:visited{
	color: #777;
}
.project-navigation a:hover{
	color: #151515;
}
.project-navigation a span{
	display: inline-block;
	padding: 50px 4%;
	margin: -50px 0;
	background: #fff;

	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.project-navigation span:hover{
	background: #f9f9f9;
}
.icon-arr-left{
	display: inline-block;
	width: 9px;
	height: 17px;
	margin-right: 7px;
	vertical-align: middle;
	background-image: url(../images/icons/icon-arr-left.png);
	background-repeat: no-repeat;
	background-size: cover;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
	.icon-arr-left{ background-image: url(../images/icons/icon-arr-left%402x.png); background-size: cover; }
}
.icon-arr-right{
	display: inline-block;
	width: 9px;
	height: 17px;
	margin-left: 7px;
	vertical-align: middle;
	background-image: url(../images/icons/icon-arr-right.png);
	background-repeat: no-repeat;
	background-size: cover;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
	.icon-arr-right{ background-image: url(../images/icons/icon-arr-right%402x.png); background-size: cover; }
}
.project-prev{
	text-align: left;
}
.project-all{
	text-align: center;
	font-weight: 600;
}
.project-next{
	text-align: right;
}

.project-wrapper{
	margin: 0 auto;
	padding: 0 5.5%;
	max-width: 1400px;
}
.project-container{
	margin: 4% 0 0;
	padding: 0 0 4%;
	max-width: 2000px;
}
.project-text{
	font-size: 13px;
}
.project-text-all{
	margin: 60px 0;
	font-size: 13px;
	color: #777;
}
.project-text p{
	margin-bottom: 20px;
}

/* ==========================================================================
   About
   ========================================================================== */

.about-text{
	float: left;
	width: 50%;
}
.about-photo-wrap{
	float: right;
	width: 45%;
	margin-right: 10px;
}
.about-photo{
	width: 60%;
	position: relative;
	float: right;
	/*margin: 0 auto;*/
	transition-duration:1s;
	-webkit-transition-duration:1s;
	cursor: pointer;
}
.about-photo img{
	max-width: 100%;
	display: block;
	border-radius: 1%;
}

.about-photo:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.education{
	color: #222;
	font-size: 13px;
}
.education td{
	border-left: none;
	border-right: none;
	padding: 12px 0;
}
.e-univ{
	font-size: 12px;
}
.e-year{
	font-family: 'Crimson Text', Georgia, serif;
	font-size: 16px;
	font-style: italic;
}
.services{
	padding-top: 10px;
	font-size: 13px;
}
.service-title{
	margin-bottom: 4px;
}
.service-text{
	color: #222;
}
.message{
	font-family: 'Crimson Text', Georgia, serif;
	font-size: 24px;
	font-style: italic;
}





/* ==========================================================================
   Responsive styles
   ========================================================================== */

@media only screen and (min-width: 1000px){

   .author, .tagline, .main-menu, .social-links, .intro-message, .go-projects{
   		visibility: visible;
   }

   .touch .author,
   .touch .tagline,
   .touch .main-menu,
   .touch .social-links,
   .touch .intro-message,
   .touch .go-projects{
   		visibility: visible;
   }
}

@media only screen and (min-width: 1000px) and (max-width: 1169px){

    .main-menu ul li a,
	.side-menu ul li a {
        height: 42px;
        line-height: 42px;
    }
	.im-text-wrap { width: 75%; margin: 0 auto; }

}

@media only screen and (min-width: 768px) and (max-width: 999px){
    .main-menu ul li a,
	.side-menu ul li a {
        height: 42px;
        line-height: 42px;
    }
	.im-text-wrap { width: 85%; margin: 0 auto;}

}

@media only screen and (min-width: 768px) and (max-width: 768px){

}

@media only screen and (max-width: 767px){

	.tagline{
		top: 30%;
	}

    .main-menu {
    	width: 100%;
        position: absolute;
		left: 0;
		bottom: 0%;
    }
	.main-menu ul li a,
	.side-menu ul li a {
        height: 42px;
        line-height: 42px;
    }
	.social-links{
		display: none;
	}

    .half-screen {
        display: block;
        width: 100%;
        height: 50%;
        position: absolute;
        z-index: 1;
    }
	.dark-screen {
        width: 100%;
        height: 50%;
		top: auto;
        bottom: 0;
    }
	.dark-overlay{
		background-color: rgba(21,21,21,.98);
	}
	.logo{
		display: none;
	}
    .intro-message {
        top: 25%;
    }
    .im-text-wrap {
        width: 85%;
        margin: 0 auto;
    }
	.go-projects{
		top: auto;
		bottom: 30%;
		margin: auto;
	}

	/*
	 * Grid
	 */
	.row{ margin-bottom: 0; }
    .col.one, .col.one-half, .col.two, .col.three, .col.four, .col.five, .col.six {
        width: 100%;
		float: none;
        margin-left: 0;
		margin-bottom: 30px;
		text-align: left;
    }

    .about-text, .about-photo-wrap {
        float: none;
		clear: both;
        width: 100%;
    }
	.about-photo-wrap {
        margin-left: 0;
		margin-bottom: 30px;
		overflow: hidden;
    }
	.about-photo{
		float: left;
	}
	.message{
		font-size: 18px;
		margin-bottom: 0;
	}

	.project-item{
		margin-top: 10%;
	}
	.project-item-title{
		display: none;
	}
	.project-item-link,
	.project-item-link:hover{
		border: none;
	}
    .project-item-left {
        width: 100%;
		float: none;
        margin: 0;
    }
	.project-item-right {
        width: 100%;
		float: none;
        margin: 0;
    }
}

@media only screen and (max-height: 480px) and (max-width: 767px),
only screen and (max-height: 500px) and (max-width: 480px),
only screen and (max-width: 320px){

	.author{
		font-size: 11px;
	}
	.tagline{
		top: 25%;
	}
	.main-menu ul,
	.side-menu ul {
        font-size: 11px;
    }
	.main-menu ul li a,
	.side-menu ul li a {
        height: 32px;
        line-height: 32px;
    }
	.intro-message {
        top: 18%;
    }
	.im-text-wrap {
		font-size: 12px;
		line-height: 1.3;
    }
	.go-projects{
		top: auto;
		bottom: 18%;
		margin: auto;
	}
    .button-white {
        display: inline-block;
        width: auto;
        height: 32px;
        line-height: 32px;
        padding: 0 20px;
        font-weight: 600;
        font-size: 12px;
    }
	.project-navigation{
	 	height: 40px;
	 }
	 .project-item{
		margin-top: 20%;
	}
}

@media only screen and (max-height: 320px) and (max-width: 767px){

	.half-screen {
        height: 65%;
    }
	.dark-screen {
        height: 35%;
    }
	.go-projects{
		display: none;
	}
	.intro-message {
		display: table;
		width: 100%;
		height: 100%;
        top: 0;
    }
	.im-text-wrap {
		display: table-cell;
		font-size: 12px;
		line-height: 1.3;
		padding: 7px;
		vertical-align: middle;
    }

}

@media only screen and (max-width: 767px) and (orientation: landscape){

	.tagline h1{
		width: 60%;
		margin: 0 auto;
	}
	.touch .half-screen {
        height: 70%;
    }
	.touch .dark-screen {
        height: 30%;
    }

}
@media only screen and (max-height: 400px){

	.sidebar,
	.side-menu,
	.side-menu ul{
		display: block;
	}
    .side-menu {
        margin-top: -1px;
    }
}
@media only screen and (max-width: 640px){

	.sidebar{
		width: 50%;
		min-width: 150px;
		z-index: 10;
		left: -350px;
	}

    .page-sections {
        margin: auto;
    }

     .project-item-link:hover .project-item-title b {
         display: none;
     }
     .pg-item {
         padding-top: 7%;
		 padding-bottom: 7%;
     }
     .project-text-all {
         margin: 20px 0;
     }
}
@media only screen and (min-width: 641px){
	.sidebar{
		left: 0 !important;
	}
}

@media only screen and (max-width: 239px),
only screen and (max-height: 259px) and (max-width: 767px){

	.half-screen {
        height: 100%;
    }
	.dark-screen {
        display: none;
    }
	.tagline{
		top: 27%;
	}

}
